/* icons at the top */

#icon-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* divider below icons*/

#top-divider {
    background-color: #0066ff;
    height: 30px;
}

#divider-boarder {
    background: black;
    height: 5px
}

/* menu container */

#menu-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
    padding-bottom: 5px;
}

#menu-header {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}

.menu-button {
    background-color: lightblue;
    position: relative;
}

.button-content {
    position: absolute;
    top: 25%;
    left: 50%;
}

#top-left {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#top-right {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#bottom-left {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

#bottom-right {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

/* back button container */
#back-button-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 50px);
    padding-bottom: 5px;
}

#blanks {
    grid-column: 1 / 4;
    grid-row: 1;
}

#back-button {
    grid-column: 4 / 5;
    grid-row: 1;
    background-color: #0066ff;
    color: white;
    text-align: center;
}

/* bottom nav container */

#bottom-nav-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(1, 100px);
}

#footer-menu-button {
    background-color: #0066ff;
    color: white;
    font-weight: bold;
}
